html{
	position: relative;
	min-height: 100%;
}

html,body{
	margin: 0;
	padding: 0;
}

body{
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-color: #383636  ;
/*background-image: url(https://i.imgur.com/ItMuoxT.jpg);*/
}	
h1{
	text-align: center;
	color: rgb(206, 198, 197);
	margin: 30px;
	font-family: cursive, sans-serif;
}


/*-------------pictures-------------------*/
.gallery{
margin: 15px;
padding: 10px;
width: 31%;
height: 100%;;
float: left;
position: relative;
background-color: white;
}

.gallery img{
	padding: 20px;
	width: 100%;
	height: 55%;
	vertical-align: 70%;
	position: relative;
}
.gallery img:hover{
    transform: scale(1.1)
}
.title{
	padding: 10px;
	text-align: center;
	color: #7E716E  ;
	font-size: 30px;
	text-decoration: underline;
	text-underline-position: under;
}
.desc{
	padding: 10px;
	text-align: center;
	color: #7E716E  ;
	font-size: 25px;
	font-family: cursive, sans-serif;
}


/*----------------navbalk ------------------*/
.navbar{ 
	overflow: auto;
	background-image: linear-gradient(to top, rgb(0,0,0), rgb(0, 0, 0,0));
	width: 100%; 
 }

 .navbar a{
 	float: left;
 	padding: 12px;
 	color: white;
 	text-decoration: none;
 	font-size: 20px;
 	width: 18.5%;
 	text-align: center;
 }

.navbar a:hover {
	background-color: #000;
}

.navbar a.active {
	background-color: #000;
}
@media only screen and (max-width: 620px){
    .navbar, .footer, .navbar a{ width: 100%; }
}
@media screen and (max-width: 500px) {
	.navbar a, .footer, .navbar {
		float: none;
		display: block;
		width: 100%;
		text-align: left;
	}
}

 #profilepic{
		border-radius: 50%;
		width: 50px;
 }

 #logo{
 	height: 50px;
	 border-radius: 50%;
 }

/*----------------footer------------------*/
 .footer{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100px;
	background: linear-gradient(to bottom, rgba(0,0,0,0), rgb(0, 0, 0));
	text-align: center;
	color: white;
	font-size: large;
	z-index: 0;
 }