
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; REMOVE */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {	
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* code begins */
html{
	width: 100vw;
	background-color: black;
	margin: 0 auto;
}
body{
	display: grid;
	grid-template-rows: repeat(20, 50px);
	grid-template-columns: repeat(7, 1fr);
	grid-gap: 15px;
	background-color: black;
}

ul{
	width: 100vw;
	margin: auto;
}
li a{
	width: 16%;
	height: 50px;
	text-align: center;
	float: left;
	padding-top: 15px;
	box-sizing: border-box;
	border-left: 5px solid white;
	display: show;
	color: white;
	font-style: Monospace;
	text-decoration: none;
}
li a:hover{
	background-color: grey;
}
article{
	display: grid;
	grid-row: 3/14;
	grid-column: 1/8;
	background-color: grey;
}
.ProfileName{
	display: grid;
	grid-row: 3/4;
	grid-column: 4/7;
	background-color: white;
}
.ProfilePhote{
	display: grid;
	grid-column: 2/4;
	grid-row: 3/6;
	background-color: white;
}
.Desc{
	display: grid;
	grid-column: 4/7;
	grid-row: 5/8;
	background-color: white;
}

@media screen and (min-width: 900px){

}
@media screen and (min-width: 1200px){

html{
	width: 100vw;
	background-color: black;
	margin: 0 auto;
}
body{
	display: grid;
	grid-template-rows: repeat(20, 50px);
	grid-template-columns: repeat(7, 1fr);
	grid-gap: 15px;
	background-color: black;
}
nav{
	background-color: black;
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 50px;
	border-bottom: 2px solid white;
	-webkit-transition: background-color 0.2s ease-out;
	-moz-transition: background-color 0.2s ease-out;
	-o-transition: background-color 0.2s ease-out;
	transition: background-color 0.2s ease-out;	
}
ul{
	width: 100vw;
	margin: auto;
}
li a{
	width: 16%;
	height: 50px;
	text-align: center;
	float: left;
	padding-top: 15px;
	box-sizing: border-box;
	border-left: 5px solid white;
	display: show;
	color: white;
	font-style: Monospace;
	text-decoration: none;
}
li a:hover{
	background-color: grey;
}
article{
	display: grid;
	grid-row: 3/14;
	grid-column: 1/8;
	grid-gap: 15px;
	background-color: grey;
	grid-template-columns: repeat(7,1fr);
	grid-template-rows: repeat(15,1fr);
}
.ProfileName{
	display: grid;
	grid-row: 3/4;
	grid-column: 4/7;
	background-color: white;
}
.ProfilePhoto{
	display: grid;
	grid-column: 2/4;
	grid-row: 3/8;
	background-color: white;
}
.Desc{
	display: grid;
	grid-column: 4/7;
	grid-row: 4/8;
	background-color: white;
}

}