html{
	position: relative;
	min-height: 100%;
}

html,body{
	margin: 0;
	padding: 0;
}

body{
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

.sticky{
	position: fixed;
	top: 0;
	width: 100%;
}

.sticky + .pageContentWrapper{
	padding-top: 102px;
}

.pageContentWrapper{
	padding-bottom: 100px /* Height of footer*/ 
}

.navbar{ 
	overflow: auto;
	background-color: linear-gradient(to top, rgb(0,0,0), rgb(0, 0, 0,0));
	width: 100%; 
 }

 .navbar a{
 	float: left;
 	padding: 12px;
 	color: white;
 	text-decoration: none;
 	font-size: 20px;
 	width: 19.5%;
 	text-align: center;
 }

.navbar a:hover {
	background-color: #000;
}

.navbar a.active {
	background-color: #545454;
}

@media screen and (max-width: 500px) {
	.navbar, .navbar a, .footer, .profilepic {
		float: none;
		display: block;
		width: 100%;
		text-align: left;
	}
}

@media only screen and (max-width: 1400px){
	.navbar, .navbar a, .footer, .profilepic { width: 100%; }
}

 #profilepic{
 	height: 50px;
 	border-radius: 50%;
 	max-width: 5%;
 	max-height: 5%;
 }

 #logo{
 	height: 50px;
 	border-radius: 50%;
 }

.footer{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100px;
	background: linear-gradient(to bottom, rgba(0,0,0,0), rgb(0, 0, 0));
	text-align: center;
	color: white;
	font-size: large;
	z-index: 0;
}

.homebutton{
	position: absolute;
	top: 1%;
	left: 3%;
	font-size: 20px;
	color: grey;
}

.articlesbutton{
	position: absolute;
	top: 1%;
	left: 7%;
	font-size: 20px;
	color: grey;
}

.gallerybutton{
	position: absolute;
	top: 1%;
	left: 11%;
	font-size: 20px;
	color: grey;
}

.contactbutton{
	position: absolute;
	top: 1%;
	left: 15%;
	font-size: 20px;
	color: grey;
}

.loginbutton{
	position: absolute;
	top: 1%;
	right: 8%;
	font-size: 20px;
	color: grey;
	float: right;
}

.clock {
	color: white;
	font-size: xx-large;
	z-index: -1;
	position: absolute;
	left: 2%;
	margin-top: 29%;

}

audio{
	margin-top: 28%;
	margin-left: 77%;
}
